.btnContainer {
    display: flex;
    justify-content: center;
}

.btnContainer button{
    width: 30em;
    height: 3em;
    line-height: 2em;
    border-radius: 0.5em;
    border: none;
    background: #673ab8;
    color: #fff;
}

.btnContainer button:focus {
    outline: none;
}